.bg-purple {
  background-color: #6c63ff;
}

.bg_car {
  height: 100vh;
  background-image: url(/images/car_building.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100%;
  border-radius: 12px;
}